<div class="center jumbotron">
  <h1>The Click</h1>
  <h2>A blog on the art of software</h2>
</div>


<h3><%= link_to 'New Article', new_article_path %></h3>

<% @articles.each do |art|  %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= link_to art.title, article_path(art) %></h2>
    </div>
    <div class="panel-body">
      <%= truncate art.text,length: 400, separator: ' ' %>    
    </div>
  </div>

<% end %>


