
<h1><%= @article.title %></h1>
<br>
<p><%= simple_format @article.text %></p>

<p><%= link_to 'Edit me!', edit_article_path(@article)  %></p>
<p><%= link_to 'Back to articles', controller: 'articles'  %></p>

