
<div class="panel panel-default small-table" >
    <!-- Default panel contents -->
  <div class="panel-heading">General Information</div>

    <!-- List group -->
    <ul class="list-group">
      <% @current_user.attributes.reject{|a| ["id","created_at","updated_at","user_type"].include?(a)}.each do |attrib| %>
        <li class="list-group-item">
          <!-- The name of the user attribute -->
          <%= attrib[0].sub(/_digest$/, '').capitalize %>
          <!-- The value of the user attribute -->
          <span class="pull-right">
            <!-- If we're displaying an empty attribute, display the text "None" -->
            <% if  attrib[1].nil?  or  attrib[1].strip.empty?  %>
              None    
            <!-- If we're displaying a non password, just print the value -->
            <% elsif not attrib[0].eql? 'password_digest' %>
              <%= attrib[1] %>
            <!-- If we're displaying a password, just prints some asterixes -->
            <% else %>
              ***********
            <% end %>
            <%= link_to "#" do  %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <% end %>
          </span>
          <br/>
          <%= render attrib[0].sub(/_digest$/, '')%>
        </li>
      <% end %>
  </ul>
</div>







