<h1>Hello Rails!!!</h1>
<%= link_to 'Let\'s go to our blog...',controller: 'articles' %> <br>
<!--<%= link_to 'Create new blog entry.', controller: 'articles', action: 'new' %>-->
<%= link_to 'Create new blog entry.', new_article_path %>


